body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #DAA06D;
}

.login-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.auth-container {
  background-color: #fff; /* Card blanca */
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  max-width: 450px;
  width: 100%;
  text-align: center;
}

.auth-container h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.input-group input {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #a5d6a7;
  border-radius: 15px;
  box-sizing: border-box;
}

.input-group input:focus {
  border-color: #CD7F32;
  outline: none;
}

.btn {
  background-color: #CD7F32;
  align-self: center;
  width: 60%;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #754a1f;
}

.error-message {
  color: #d32f2f;
  margin-top: 15px;
}
